<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minhas redes sociais</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Lucas Assunção</h1>
      <h2>Html/CSS</h2>
    </header>
    <main>
      <a href="https://www.instagram.com">
        <button>Instagram</button>
      </a>
      <a href="https://www.linkedin.com/in/warren">
        <button> LinkedIn</button>
      </a>
      <a href="https://github.com/lucasassuncaobr">
        <button> Github</button> 
      </a>
    </main>
  </body>
</html>