/* Estilização dos links */
a {
    text-decoration: none;
    background-color: #000000; /* Cor de fundo */
    color: rgb(47, 179, 255); /* Cor do texto */
    display: inline-block; /* Exibição em linha com características de bloco */
    width: 500px; /* Largura do link */
    height: 50px; /* Altura do link */
    line-height: 50px; /* Alinhar o texto verticalmente */
    text-align: center; /* Alinhar o texto horizontalmente */
    margin: 10px; /* Margem ao redor do link */
    font-size: 12pt; /* Tamanho da fonte */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Família da fonte */
}

a:hover {
    color: black; /* Cor do texto quando o mouse está sobre o link */
    background-color: rgb(47, 179, 255); /* Cor de fundo quando o mouse está sobre o link */
}

/* Comentários:
   Para comentar em bloco, use SHIFT + Alt + A ou CTRL + ; 
*/
