*{
    margin: 0;
    padding: 0;
}

header {
height: 100px;
width: 100%;
background-color: aqua;
position: fixed;/* static (padrão) - relative - absolute */

}

nav {
    /*margin-top 30px;*/
    /*padding 100px;*/

    margin-top: 30px;
    padding: 100px;
    height: 100px;
    background-color: rgb(187, 255, 0);
    top: 50px;
    left: 50px; ;
    right: 50px;
    bottom: 50px;

}

main {
    height: auto;
    background-color: rgb(255, 197, 5);
}

section {
    height: 100px;
    background-color: rgb(255, 12, 255);
    position: relative;
}

article {
    height: 100px;
    background-color: rgb(0, 255, 64);
    position: absolute;
    right: 50px;
    top: 10px;
}

footer {
    height: 100px;
    background-color: rgb(255, 140, 140);
}